<%= form_tag search_path, method: :get do %>
	<div class="row">
		<div class="col-md-6">
			<%= text_field_tag :search, params[:search], placeholder: "Where are you going?", class: "form-control" %>
		</div>
		<div class="col-md-2">
			<%= text_field_tag :start_date, params[:start_date], placeholder: "Start Date", class: "form-control" %>
		</div>
		<div class="col-md-2">
			<%= text_field_tag :end_date, params[:end_date], placeholder: "End Date", class: "form-control" %>
		</div>
		<div class="col-md-2">
			<%= submit_tag "Search", class: "btn btn-primary" %>
		</div>
	</div>
<% end %>

<br>

<div class="text-center">
	<h2>Just for the weekend</h2>
	<p>Discover new, inspiring places close to home.</p>
</div>

<br>

<div class="row">
	<div class="col-md-4 col-sm-12">
		<a href="http://localhost:3000/search?utf8=%E2%9C%93&search=new+york">
			<div class="discovery-card" style="background-image: url('/assets/New_York.jpg')">
				<div class="va-container">
					<div class="va-middle text-center">
						<h2><strong>New York</strong></h2>
					</div>
				</div>
			</div>
		</a>
	</div>

	<div class="col-md-4 col-sm-6">
		<a href="http://localhost:3000/search?utf8=%E2%9C%93&search=london">
			<div class="discovery-card" style="background-image: url('/assets/London.jpg')">
				<div class="va-container">
					<div class="va-middle text-center">
						<h2><strong>London</strong></h2>
					</div>
				</div>
			</div>
		</a>
	</div>

	<div class="col-md-4 col-sm-6">
		<a href="http://localhost:3000/search?utf8=%E2%9C%93&search=berlin">
			<div class="discovery-card" style="background-image: url('/assets/Berlin.jpg')">
				<div class="va-container">
					<div class="va-middle text-center">
						<h2><strong>Berlin</strong></h2>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>

<br>

<div class="text-center">
	<h2>Explore the world</h2>
	<p>See what peopel are travelling, all around the world.</p>
</div>

<br>

<div class="row">
	<% @rooms.each do |room| %>
		
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading preview">
					<%= image_tag room.photos[0].image.url(:medium) if room.photos.length > 0 %>
				</div>
				<div class="panel-body">
					<%= image_tag avatar_url(room.user), class: "img-circle avatar-small" %>&nbsp;
					<%= link_to room.listing_name, room %>
				</div>
			</div>
		</div>

	<% end %>
</div>

<script>
	$(function() {
		$("#start_date").datepicker({
			dateFormat: 'dd-mm-yy',
			minDate: 0,
			maxDate: '3m',
			onSelect: function(selected) {
				$('#end_date').datepicker("option", "minDate", selected);
				$('#end_date').attr('disabled', false);
			}
		});

		$("#end_date").datepicker({
			dateFormat: 'dd-mm-yy',
			minDate: 0,
			maxDate: '3m',
			onSelect: function(selected) {
				$('#start_date').datepicker("option", "maxDate", selected);
			}
		});
	})


</script>
