<div class="row">
	<div class="col-md-3">
		<ul class="sidebar-list">
			<li class="sidebar-item"><%= link_to "Your Listing", rooms_path, class: "sidebar-link" %></li>
			<li class="sidebar-item"><%= link_to "Your Reservations", your_reservations_path, class: "sidebar-link" %></li>
			<li class="sidebar-item"><%= link_to "Your Trips", your_trips_path, class: "sidebar-link active" %></li>
		</ul>
	</div>
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				Your Trips
			</div>
			<div class="panel-body">
				
				<% @trips.each do |trip| %>
					<div class="row">
						<div class="col-md-2">
							<%= trip.start_date.strftime('%v') %>
						</div>	
						<div class="col-md-6">
							<%= link_to room_path(trip.room) do %>
								<%= image_tag trip.room.photos[0].image.url(:thumb) if trip.room.photos.length > 0 %>
							<% end %>
						</div>	
						<div class="col-md-2">
							<%= link_to user_path(trip.room.user) do %>
								<%= image_tag avatar_url(trip.room.user), class: "img-circle avatar-medium" %>
							<% end %>	
						</div>	
						<div class="col-md-2 right">
							<h4>$<%= trip.total %></h4>
						</div>	
					</div>
					<hr>
				<% end %>

			</div>
		</div>
	</div>
</div>